<nav class="nav-main">
        
  <img src="assets/img/logosinfondo.png" alt="Logo" class="nav-brand">
  <ul class="nav-menu">
      <li >
          <a href="#">
          <i class="fas fa-bars"></i>
          </a>
         </li>
      <li>
          <a href="products">SHOP</a>
      </li>
      <li>
         <a href="#">ABOUT US</a>
      </li> 
     
  </ul>
  <ul class="nav-menu-right">
      <li>
          <a href="signin">
              <i class="fas fa-user"></i>
          </a>
          <a href="#">
              <i class="fas fa-heart"></i>
          </a>
       
          <a href="cart">
              <i class="fas fa-shopping-cart"></i>
          </a>
            
      </li>
  </ul>

</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
    <div class="social">
        <p>CONTACT US</p>
        <div class="links">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
      
            </a>
            <a href="#">
                   <i class="fab fa-instagram"></i>
      
               </a>
               <a href="#">
                       <i class="fab fa-twitter"></i>
      
                   </a>
        
          
        </div>
      
      </div>
      
          <p>&copy; 2020 CandyLand Copyright<p>
  

</div>
