<nav class="nav-main">
        
  <img src="assets/img/logosinfondo.png" alt="Logo" class="nav-brand">
  <ul class="nav-menu">
      <li >
          
         </li>
      <li>
          <a [routerLink]="['/products']">SHOP</a>
      </li>
      <li>
         <a href="#">ABOUT US</a>
      </li> 
     
  </ul>
  <ul class="nav-menu-right">
      <li>
          <a [routerLink]="['/signin']">
              <i class="fas fa-user"></i>
          </a>
          <ng-container *ngIf=isLoggedIn()>
            <a [routerLink]="['/']">
                <i class="fas fa-heart"></i>
            </a>
           
          </ng-container>
          <ng-container *ngIf=!isLoggedIn()>
                <a [routerLink]="['/signin']">
                    <i class="fas fa-shopping-cart"></i>
                </a>
          </ng-container>
          <ng-container *ngIf=isLoggedIn()>
                <a [routerLink]="['/cart']">
                    <i class="fas fa-shopping-cart"></i>
                </a>
          </ng-container>
         
         
            
      </li>
  </ul>
  

</nav>
<!-- Side navigation -->
<div class="sidenav">
        <a href="#">
                <i class="fas fa-bars"></i>
                </a>
    <a routerLink="/">Home<i class="fas fa-angle-right"></i></a>
    <a routerLink="/products">Shop<i class="fas fa-angle-right"></i></a> 
    <a routerLink="/signin">Login <i class="fas fa-angle-right"></i></a>
    <a routerLink="/signup">Register <i class="fas fa-angle-right"></i></a>
    <ng-container *ngIf=isLoggedIn()>
       <a routerLink="/profile">Profile <i class="fas fa-angle-right"></i></a>
       <a href="#">Orders <i class="fas fa-angle-right"></i></a>
        <a href="#" (click)="logout()">Logout
            <i class="fas fa-sign-out-alt"></i>
        </a>
      </ng-container>
 
  </div>
  
  <!-- Page content -->
  <div class="main">
    ...
  </div>




<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
    <div class="social">
        <p>CONTACT US</p>
        <div class="links">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
      
            </a>
            <a href="#">
                   <i class="fab fa-instagram"></i>
      
               </a>
               <a href="#">
                       <i class="fab fa-twitter"></i>
      
                   </a>
        
          
        </div>
      
      </div>
      
          <p>&copy; 2020 CandyLand Copyright<p>
  

</div>


