<div class= "aqui">
    <h2>Seleccione el método de pago</h2>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-info active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Transferencia
    </label>
    <label class="btn btn-info">
      <input type="radio" name="options" id="option2" autocomplete="off"> Zelle
    </label>
    <label class="btn btn-info">
      <input type="radio" name="options" id="option3" autocomplete="off"> PayPal
    </label>
    <label class="btn btn-info">
        <input type="radio" name="options" id="option3" autocomplete="off"> Pagar en Tienda
      </label>
  </div>


<div class= "delipick">
    <button type="submit"><img src="assets/img/pagar.png" alt= "proceder al pago"></button>
</div>

