<header class="showcase">
       
    <h1 style="color: white;">CandyLand is the best</h1>
    <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, enim!</p>
    <a class="btn" href="#">SHOP NOW <i class="fas fa-angle-double-right "></i></a>
  
  </header>
  <!----Grid cards--->
  <div class="cards">
    <div>
        <img src="assets/img/ositos.jpg" alt="card-1">
        <h2>Lorem, ipsum dolor.</h2>
        
        <a class="btn" href="#">BUY NOW</a>

    </div>
    <div>
         <img src="assets/img/mixed-halloween-candy-background-royalty-free-image-176869502-1567700779.jpg" alt="card-2">
         <h2>Lorem, ipsum dolor.</h2>
         
         <a class="btn" href="#">BUY NOW</a>

     </div>
     <div>
             <img src="assets/img/caramelos.jpg" alt="card-3">
             <h2>Lorem, ipsum dolor.</h2>
            
             <a class="btn" href="#">BUY NOW</a>
  
     </div>
     <div>
                 <img src="assets/img/candyvariados.jpg" alt="card-4">
                 <h2>Lorem, ipsum dolor.</h2>
                
                 <a class="btn" href="#">BUY NOW</a>
      
     </div>
  </div>

  <section class="banner">
      <div class="container">
          <a style="color: #FF5850" href="#">back to top</a>

      </div>